*.kicad_pcb linguist-detectable=true
*.brd linguist-detectable=true
*.sch linguist-detectable=true
*.pro linguist-detectable=false
boards/* linguist-documentation
documents/* linguist-documentation
photos/* linguist-documentation
schematic/* linguist-documentation
